* {
    padding: 0px;
    margin: 0 auto;
    
}

.container {
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin:0 auto;  
​
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  	margin-top: 30%;
  	font-size: 25px;
	font-family: "Open Sans", Arial;
  	padding: 15px;		
}


